main {
  background-color: #ccc;
}

.main__heading {
  @extend %padding-vertical;
  padding-bottom: 12rem;
}

.h2-dark {
  @include h2-dark();
  padding-bottom: 2rem;
}

.sh-2 {
  @include sh-2-grey();
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24rem;
}

.deer {
  background-image: url("./assets/Deer.jpg");
}

.squirrel {
  background-image: url("./assets/Squirrel.jpg");
}

.bird {
  background-image: url("./assets/Bird.jpg");
}

.slider__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 102rem;
}

.slider__img {
  width: 30rem;
  height: 36rem;

  display: flex;
  flex-direction: column;
}

.arrow {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s;
  }
}

.h-4-light {
  @include h-4-light();
  margin-top: 24.7rem;
  margin-bottom: 1rem;
}

.small {
  @include small-light();
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24rem;
}

.form__heading {
  @include h-3-dark;
  margin-bottom: 5.9rem;
}

.form__form {
  display: flex;
  align-items: center;
}

.form__email {
  height: 6.2rem;
  width: 54rem;
  background-color: #ccc;
  @include regular-UI();
  border: 1px solid #666;
  border-right: 0px;
  padding-left: 1.5rem;
  padding-top: 2px;
}

.form__submit {
  height: 6.2rem;
  width: 12rem;
  background: $orange-main;
  border: 1px solid $orange-main;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;

  @include regular-UI();

  &:hover {
    background: $orange-light;
    border: 1px solid $orange-light;
  }

  &:active {
    background: $orange-dark;
    border: 1px solid $orange-dark;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
