* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.hero__content, .main__heading {
  padding: 12rem 0 12rem 0;
}

.hero {
  background: url(Rectangle.png);
  height: 77.9rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: #f7f7f7;
  margin-left: 1.6rem;
}

nav {
  width: 100%;
  max-width: 48rem;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

li {
  list-style: none;
}

li a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 6rem;
  color: #f7f7f7;
  text-decoration: none;
}

.signBtn {
  padding: 1rem 2.3rem 0.9rem 2.4rem;
  border: 2px solid #cd6326;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #f7f7f7;
}

.signBtn:hover {
  background-color: #cd6326;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.signBtn:active {
  background-color: #8f5613;
  border: 2px solid #8f5613;
}

.hero__content .h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 7.2rem;
  letter-spacing: 2px;
  color: #cd6326;
}

.hero__content .regular {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #f7f7f7;
  margin-top: 5rem;
  margin-bottom: 6.6rem;
  width: 100%;
  max-width: 274px;
}

.hero__content .orange-main {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #f7f7f7;
  text-align: center;
  padding: 1.6rem 4.4rem;
  background-color: #cd6326;
  border-radius: 5px;
}

.hero__content .orange-main:hover {
  background-color: #e39128;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__content .orange-main:active {
  background-color: #8f5613;
}

main {
  background-color: #ccc;
}

.main__heading {
  padding-bottom: 12rem;
}

.h2-dark {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.8rem;
  line-height: 7.2rem;
  text-align: center;
  color: #333333;
  padding-bottom: 2rem;
}

.sh-2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: #666666;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 24rem;
}

.deer {
  background-image: url("./assets/Deer.jpg");
}

.squirrel {
  background-image: url("./assets/Squirrel.jpg");
}

.bird {
  background-image: url("./assets/Bird.jpg");
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 102rem;
}

.slider__img {
  width: 30rem;
  height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrow:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.h-4-light {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 3.6rem;
  text-align: center;
  color: #f7f7f7;
  margin-top: 24.7rem;
  margin-bottom: 1rem;
}

.small {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #f7f7f7;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 24rem;
}

.form__heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.7rem;
  line-height: 4rem;
  text-align: center;
  color: #333333;
  margin-bottom: 5.9rem;
}

.form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__email {
  height: 6.2rem;
  width: 54rem;
  background-color: #ccc;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #f7f7f7;
  border: 1px solid #666;
  border-right: 0px;
  padding-left: 1.5rem;
  padding-top: 2px;
}

.form__submit {
  height: 6.2rem;
  width: 12rem;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #f7f7f7;
}

.form__submit:hover {
  background: #e39128;
  border: 1px solid #e39128;
}

.form__submit:active {
  background: #8f5613;
  border: 1px solid #8f5613;
  outline: none;
}

.form__submit:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */